.profil_container {
  height: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat_form_field {
  width: 100%;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #4caf50;
}

.save ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffffff;
}
